@import url("./fonts.css");
@import url("./nullstyle.css");

html {
	box-sizing: border-box;
	font-family: "TTLakes", Helvetica, sans-serif;
}
body {
	background-color: #f8f8f8;
}

.header {
	height: 88px;
	padding: 0 16px;
	margin-bottom: 24px;

	background-color: #ffffff;
	border-bottom: 1px solid #d9fff5;
}

.header__wrapper {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 100%;
}

.header__navbar {
	display: flex;
	align-items: center;
	gap: 16px;
}

.header__navbar_item {
	background-color: inherit;
}
.header__navbar_item--hidden {
	display: none;
}

.header_divider {
	align-self: center;
	width: 2px;
	height: 32px;
	border-radius: 1px;
	background: #eaeaea;
}
.header_divider--hidden {
	display: none;
}

.main__section {
	padding: 0 16px;
	margin-bottom: 24px;
}
.main__section:last-child {
	padding: 0;
}

.main__section_highlighter {
	position: absolute;
	left: 0;
	width: 4px;
	height: 40px;
	border-radius: 0 20px 20px 0;
	background-color: #41f6d7;
}

.main__section_title {
	color: #1b1c21;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -0.6px;
}

.contacts {
	gap: 32px;
}
.contacts__btn {
	display: flex;
	align-items: center;
	gap: 8px;

	background-color: inherit;
}
.contacts__btn_text {
	color: #1b1c21;
	text-align: right;
	font-family: TT Lakes;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
}

.contacts--hidden-1120-flex {
	display: none;
}

.main__navlist {
	display: flex;
	gap: 10px;

	overflow: auto;
}

.main__navlist_item {
	padding: 8px 16px;
	text-align: center;
	white-space: nowrap;
}

.main__navlist_item--active {
	border-radius: 6px;
	border: 2px solid #b8ffec;
	background: #fff;
}

.main__navlist_link {
	color: #7e7e82;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
}

.main_about {
	padding: 0 16px;
	margin-bottom: 16px;

	color: #1b1c21;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.2px;
}

.main_about_paragraph {
	margin-bottom: 16px;
}

.main_about_paragraph--hidden-768 {
	display: none;
}
.main_about_paragraph--hidden-1120 {
	display: none;
}

.main__section__btn {
	display: flex;
	align-items: center;

	background-color: inherit;
}

.main__section__btn_text {
	color: #1b1c21;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
}

.main__photo {
	max-width: 100%;
}

@media (min-width: 768px) and (max-width: 1120px) {
	.header {
		padding: 0 24px;
	}
	.header_divider--hidden {
		display: block;
	}
	.header__navbar {
		gap: 16px;
	}
	.header__wrapper {
		justify-content: space-between;
	}
	.header__navbar_item--hidden {
		display: block;
	}
	.main__section {
		padding: 0 24px;
		margin-bottom: 40px;
	}
	.main__section:last-child {
		padding: 0 24px;
		margin-bottom: 40px;
	}
	.main_about {
		padding: 0;
		margin: 0;
		width: 312px;
	}
	.main__section--flex {
		display: flex;
		justify-content: space-between;
	}
	.main_about_paragraph {
		line-height: 20px;
	}
	.main_about_paragraph--hidden-768 {
		display: inline;
	}
	.main__photo {
		width: 360px;
		height: 200px;
		border-radius: 10px;
	}
}

@media (min-width: 1120px) {
	.header {
		display: none;
	}
	.main {
		margin-top: 42px;
	}
	.contacts--hidden-1120-flex {
		display: flex;
	}
	.main__section--flex-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.main__section {
		padding: 0 32px;
		margin-bottom: 0px;
	}

	.main__section:nth-child(1) {
		margin-bottom: 8px;
	}
	.main__section:nth-child(2) {
		margin-bottom: 19px;
	}
	.main__section:last-child {
		padding: 0 32px;
		margin-bottom: 0px;
	}
	.main_about_paragraph--hidden-1120 {
		display: inline;
	}
	.main_about {
		padding: 0;
		margin: 0;
		width: 490px;
	}
	.main__navlist {
		flex-wrap: wrap;
		overflow: visible;
	}
	.main__photo {
		width: 531px;
		height: auto;
	}
	.main__section__btn {
		margin-top: 14px;
	}

	/* Теряющиеся стили при выходе из browser tools */
	.main__section--flex {
		display: flex;
		justify-content: space-between;
	}

	.main_about_paragraph {
		line-height: 20px;
	}

	.main_about_paragraph--hidden-768 {
		display: inline;
	}
}
